<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="72x72" href="/static/images/SkinFine_icon.png">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/home" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/predictor">Predictor</a>
            <a href="/contact">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>Welcome to SkinFine</h1>
                    <p>Web Application for analysing and classifying initial assessment of dermatitis. It's just as easy as taking a photo with your smartphone.</p>
                </div>
                <div class="cta">
                    <button class="cta-select" onclick="window.location.href='/about'">Info</button>
                    <button class="cta-add" onclick="window.location.href='/predictor'">Predict</button>
                </div>
            </div>
            <br>
            <div class="cover"><img src="/static/images/SkinFine_logo.png" alt="iphone" width="300" height="auto"/></div>
        </section>
    </main>
    </body>
</html>
