<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="72x72" href="/static/images/SkinFine_icon.png">
        <script src="static/script.js"></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/predictor" class="active">Predictor</a>
            <a href="/contact">Contact</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>  
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>How to Use</h1>
                    <p>1. Take or select photos of skin diseases you want to classify.</p>
                    <p>2. Press the upload button.</p>
                    <p>3. Wait for the classified result with advice about 30 seconds.</p>
                </div>
                <div class="cta">
                    <form action="" method=post enctype=multipart/form-data>        
                        <!-- <button class="cta-topic">Upload a file</button> -->
                        <label for="file" class="cta-add2">Take a photo</label>
                        <input type="file" id="file" name="file" onchange="document.getElementById('image-preview').src = window.URL.createObjectURL(this.files[0])"/>
                        <button for="file" type="submit" value=Upload class="cta-add">Upload</button>
                    </form>
                </div>
                    <br><br><br>
                    <button class="cta-topic">Prediction</button>
                    <div class="predict-text">{{label}}</div>
                    <br>
                    <button class="cta-topic">Probability</button>
                    <div class="predict-text">{{predict_probality}}</div>
                    <br>
                    <button class="cta-topic">Advice</button>
                    <div class="predict-text">{{advice}}</div>
                </div>
            </div>
            <div class="cover">
                <img id="image-preview" src="{{imagesource}}"/>
            </div>
        </section>
    </main>
    </body>
</html>
